<!-- BEGIN ACCORDION SECTION -->
<div class="accordion" id="accordion2-menu">

	<!-- BEGIN ACCORDION GROUP -->
	<div class="accordion-group active">
		<!-- BEGIN ACCORDION HEADING -->
		<div class="accordion-heading">
			<a class="accordion-toggle" href="/"> <img src="{{imgRoot}}/icons/stuttgart-icon-pack/32x32/home.png"><span>主页</span></a>
		</div>
		<!-- END ACCORDION HEADING -->
	</div>
	<!-- END ACCORDION GROUP -->

	<!-- BEGIN ACCORDION GROUP -->
	<div class="accordion-group">
		<!-- BEGIN ACCORDION HEADING -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2-menu" href="#collapse-personal-stuff"> <img src="{{imgRoot}}/icons/stuttgart-icon-pack/32x32/my-account.png"> <span>个人中心</span><span class="arrow"></span> </a>
		</div>
		<!-- END ACCORDION HEADING -->

		<!-- BEGIN MENU LIST ITEMS -->
		<ul id="collapse-personal-stuff" class="accordion-body collapse nav nav-list collapse">
			<li>
				<a href="books.html"><i class="icon-user"></i><span> 个人管理</span></a>
			</li>
			<li>
				<a href="mailBox.html"><i class="icon-envelope"></i><span> 邮件</span></a>
			</li>
			<li>
				<a href="notice.html"><i class="icon-warning-sign"></i><span> 通知</span></a>
			</li> 
		</ul>
		<!-- END MENU LIST ITEMS -->
	</div>
	<!-- END ACCORDION GROUP -->

	<!-- BEGIN ACCORDION GROUP -->
	<div class="accordion-group ">
		<!-- BEGIN ACCORDION HEADING -->
		<div class="accordion-heading">
			<a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2-menu" href="#collapse-stage-manage"> <img src="{{imgRoot}}/icons/stuttgart-icon-pack/32x32/database.png"> <span>平台管理</span><span class="arrow"></span> </a>
		</div>
		<!-- END ACCORDION HEADING -->

		<!-- BEGIN MENU LIST ITEMS -->
		<ul id="collapse-stage-manage" class="accordion-body collapse nav nav-list collapse">
			<li>
				<a href="#"><i class="icon-sitemap"></i><span> 系统及用户管理</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-th-large"></i><span> 空间社区</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-file"></i><span> 问卷调查</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-comment-alt"></i><span> 通用投票</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-cloud"></i><span> 资源库及网盘</span></a>
			</li>
		</ul>
		<!-- END MENU LIST ITEMS -->
	</div>
	<!-- END ACCORDION GROUP -->

	<!-- BEGIN ACCORDION GROUP -->
	<div class="accordion-group ">
		<!-- BEGIN ACCORDION HEADING -->
		<div class="accordion-heading">
			<a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2-menu" href="#collapse-high-manage"> <img src="{{imgRoot}}/icons/stuttgart-icon-pack/32x32/document-library.png"> <span>高中</span><span class="arrow"></span> </a>
		</div>
		<!-- END ACCORDION HEADING -->

		<!-- BEGIN MENU LIST ITEMS -->
		<ul id="collapse-high-manage" class="accordion-body collapse nav nav-list collapse">
			<li>
				<a href="#"><i class="icon-list-alt"></i><span> 学籍系统</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-list-ol"></i><span> 成绩系统</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-th"></i><span> 课程课表系统</span></a>
			</li>
		</ul>
		<!-- END MENU LIST ITEMS -->
	</div>
	<!-- END ACCORDION GROUP -->

	<!-- BEGIN ACCORDION GROUP -->
	<div class="accordion-group ">
		<!-- BEGIN ACCORDION HEADING -->
		<div class="accordion-heading">
			<a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2-menu" href="#collapse-junior-manage"> <img src="{{imgRoot}}/icons/stuttgart-icon-pack/32x32/library.png"> <span>初中</span><span class="arrow"></span> </a>
		</div>
		<!-- END ACCORDION HEADING -->

		<!-- BEGIN MENU LIST ITEMS -->
		<ul id="collapse-junior-manage" class="accordion-body collapse nav nav-list collapse">
			<li>
				<a href="#"><i class="icon-list-alt"></i><span> 学籍系统</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-list-ol"></i><span> 成绩系统</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-th"></i><span> 课程课表系统</span></a>
			</li>
		</ul>
		<!-- END MENU LIST ITEMS -->
	</div>
	<!-- END ACCORDION GROUP -->

	<!-- BEGIN ACCORDION GROUP -->
	<div class="accordion-group ">
		<!-- BEGIN ACCORDION HEADING -->
		<div class="accordion-heading">
			<a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2-menu" href="#collapse-school-manage"> <img src="{{imgRoot}}/icons/stuttgart-icon-pack/32x32/folder.png"> <span>校务</span><span class="arrow"></span> </a>
		</div>
		<!-- END ACCORDION HEADING -->

		<!-- BEGIN MENU LIST ITEMS -->
		<ul id="collapse-school-manage" class="accordion-body collapse nav nav-list collapse">
			<li>
				<a href="#"><i class="icon-calendar"></i><span> 校历及周工作安排</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-laptop"></i><span> 网络教研</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-edit"></i><span> 作业系统</span></a>
			</li>
		</ul>
		<!-- END MENU LIST ITEMS -->
	</div>
	<!-- END ACCORDION GROUP -->

	<!-- BEGIN ACCORDION GROUP -->
	<div class="accordion-group ">
		<!-- BEGIN ACCORDION HEADING -->
		<div class="accordion-heading">
			<a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2-menu" href="#collapse-office-manage"> <img src="{{imgRoot}}/icons/stuttgart-icon-pack/32x32/administrative-docs.png"> <span>行政办公</span><span class="arrow"></span> </a>
		</div>
		<!-- END ACCORDION HEADING -->

		<!-- BEGIN MENU LIST ITEMS -->
		<ul id="collapse-office-manage" class="accordion-body collapse nav nav-list collapse">
			<li>
				<a href="#"><i class="icon-stop"></i><span> 计划与总结</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-legal"></i><span> 评教</span></a>
			</li>
		</ul>
		<!-- END MENU LIST ITEMS -->
	</div>
	<!-- END ACCORDION GROUP -->

	<!-- BEGIN ACCORDION GROUP -->
	<div class="accordion-group ">
		<!-- BEGIN ACCORDION HEADING -->
		<div class="accordion-heading">
			<a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2-menu" href="#collapse-money-manage"> <img src="{{imgRoot}}/icons/stuttgart-icon-pack/32x32/cost.png"> <span>资产管理</span><span class="arrow"></span> </a>
		</div>
		<!-- END ACCORDION HEADING -->

		<!-- BEGIN MENU LIST ITEMS -->
		<ul id="collapse-money-manage" class="accordion-body collapse nav nav-list collapse">
			<li>
				<a href="#"><i class="icon-money"></i><span> 工资系统</span></a>
			</li>
		</ul>
		<!-- END MENU LIST ITEMS -->
	</div>
	<!-- END ACCORDION GROUP -->

	<!-- BEGIN ACCORDION GROUP -->
	<div class="accordion-group">
		<!-- BEGIN ACCORDION HEADING -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2-menu" href="#collapse-people-manage"><img src="{{imgRoot}}/icons/stuttgart-icon-pack/32x32/customers.png"> <span>人事管理</span><span class="arrow"></span> </a>
		</div>
		<!-- END ACCORDION HEADING -->
		
		<!-- BEGIN MENU LIST ITEMS -->
		<ul id="collapse-people-manage" class="accordion-body collapse nav nav-list collapse">
			<li>
				<a href="#"><i class="icon-briefcase"></i><span> 人事管理</span></a>
			</li>
		</ul>
		<!-- END MENU LIST ITEMS -->
	</div>
	<!-- END ACCORDION GROUP -->

	<!-- BEGIN ACCORDION GROUP -->
	<div class="accordion-group ">
		<!-- BEGIN ACCORDION HEADING -->
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2-menu" href="#collapse-card-manage"> <img src="{{imgRoot}}/icons/stuttgart-icon-pack/32x32/credit-card.png"> <span>一卡通考勤相关功能</span><span class="arrow"></span> </a>
		</div>
		<!-- END ACCORDION HEADING -->

		<!-- BEGIN MENU LIST ITEMS -->
		<ul id="collapse-card-manage" class="accordion-body collapse nav nav-list collapse">
			<li>
				<a href="#"><i class="icon-lock"></i><span> 申请与审批</span></a>
			</li>
			<li>
				<a href="#"><i class="icon-bell"></i><span> 预约系统</span></a>
			</li>
		</ul>
		<!-- END MENU LIST ITEMS -->
	</div>
	<!-- END ACCORDION GROUP -->
</div>